* {
  line-height: 1.6;

}

body {
  margin: 0rem;
  padding: 0rem;
  background-color: #F6F5F5;

  @media (max-width: 599px) {
    padding-bottom: 5rem;
  }
}

.skip {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.skip:focus {
  position: static;
  width: auto;
  height: auto;
}

header {
  display: flex;
  position: relative;
  background-color: #ffffff;
  justify-content: space-between;
  padding: 0.25rem;
  background-image: url(assets/strikje.png);
  background-repeat: no-repeat;
  background-position: center 4rem;
  background-size: 100% 30%;

  @media (min-width: 600px) {
    background-position: center 3rem;
    background-size: 100% 50%;
    position: relative;
  }

  @media (min-width: 1000px) {
    background-image: none;
  }
}

.logo img {
  height: 5rem;

   @media (min-width: 770px) {
    height:5.5rem;
  }
}

.addlist-icon {
  width: 10rem;

  @media (min-width: 1000px) {
    width: auto;
    height: auto;
  }
}


.nav-icons img {
  margin-top: .5rem;
  width: 3.5rem;
  height: 5rem;

  @media (min-width: 1000px) {
    width: auto;
    height: auto;
  }
}

.nav-icons {
  display: flex;
}

.page-layout {
  @media (min-width: 1000px) {
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
    align-items: start;
        background: linear-gradient(to right, #ffffff 0%, #ffffff 33.33%, #F6F5F5 33.33%, #F6F5F5 100%);

  }
}

.search-bar-text {
  display: none;
}

.filters {
  display: block;
  box-shadow: .1em .1em 2em rgb(197, 197, 197);
  justify-content: center;
  background-color: #FFFFFF;
  font-size: 1.5rem;

  @media (min-width: 1000px) {
    display: none;
  }
}


fieldset legend {
  font-size: 3rem;
  line-height: 4rem;
}

.filters input,
select {
  border-radius: .5rem;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
}

.filters,
select,
input,
.search-bar,
h3,
h2,
p,
address {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.1rem;
}

h1 {
  display: none;

  @media (min-width: 1000px) {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.5rem;
    display: block;
    grid-column: 1 / -1;
    text-align: center;
    margin: 0;
    padding: 0;
  }
}

.gifts {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(17em, 18em));
  gap: 2em;
  margin: 2em;

  @media (min-width: 768px) {
    grid-template-columns: 1fr 1fr;
    justify-content: center;
  }

  @media (min-width: 1000px) {
    grid-template-columns: repeat(auto-fit, minmax(17em, 1fr));
    grid-column: 2 / 4;
    grid-row: 1;
    background-image: url(assets/strikje.png);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 100% auto;
    padding-top: 4em;
    margin-bottom: 2rem;
    margin-top: 1rem;
  }
}


.gift-listing {
  color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: grid;
  font-weight: bold;
  grid-template-rows: 1fr 5.5rem;
  gap: 1rem;
  justify-items: center;
  grid-template-areas:
    "image"
    "title";
  border-style: solid;
  text-decoration: none;
  border-width: thin;
  border-color: rgb(171, 171, 171);
  box-shadow: .1em .1em 2em grey;
  background-color: white;
  width: 18rem;
  margin-inline: auto;
  position: relative;
}

.gift-listing .add-icon {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  width: 3rem;
  height: 3rem;
}

.gift-listing .saved1-icon,
.gift-listing .saved2-icon {
  position: absolute;
  bottom: 1px;
  width: 10rem;
  height: 3rem;
  object-fit: contain;
  left: 0rem;
}

.gift-listing .gift-img {
  grid-area: image;
  object-fit: cover;
  width: 18rem;
  height: 100%;
}

.heading-search {

  display: none;

  @media (min-width:1000px) {
    display: block;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2.5rem;
    padding-left: 1rem;
  }
}

.community img{
 display: none;
  @media (min-width: 1000px) {
   display: block;
  width: 100%;
  padding-top: 2rem;
  }

}

.search-bar .search-input-wrapper {
  position: relative;
  border-radius: 2em;
  padding: 3px;
  animation: borderColorChange 3s linear infinite;
}

@keyframes borderColorChange {
  0% {
    background-color: #667eea;
  }

  25% {
    background-color: #764ba2;
  }

  50% {
    background-color: #f093fb;
  }

  75% {
    background-color: #4facfe;
  }

  100% {
    background-color: #667eea;
  }
}

.search-bar {
  padding: 0rem .25rem 0.75rem 0.25rem;
  gap: 0.5rem;
  bottom: 0;
  left: 0;
  right: 0;
  position: fixed;
  z-index: 100;
  background: transparent;


  @media (min-width: 1000px) {
    position: relative;
    display: block;
  }

  @media (min-width: 1000px) {
    grid-column: 1;
    grid-row: 1;
    padding-top: 20rem;
  }
}


.search-bar input {
  border-radius: 2em;
  padding: 0.75rem 3.5rem 0.75rem 1rem;
  font-size: 1.2rem;
  width: 100%;
  border: none;
}



.search-bar button {
  position: absolute;
  right: 1rem;
  background: transparent;
  border: none;
  padding: 0.5rem;
  cursor: pointer;
  height: 100%;
}

.search-bar button img {
  width: 2rem;
  height: 2rem;
}

fieldset {
  border: 0;
}

footer {
  background-image: url('assets/3.png');
  background-color: #F9F2D4;
}

.newsletter-form {
  background-color: #466EBF;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  font-size: 18px;

  @media (min-width: 600px) {
    flex-direction: row;
  }
}

.newsletter-form h2 {
  padding-left: 0.5em;
  margin: 0;
  display: none;
    @media (min-width: 1000px) {
    display: block;
      padding-left: 0.5em;
  margin: 0;
  }
}

.newsletter-form p {
  margin: 0;
}

.newsletter-form>div:first-child {
  display: flex;
  flex-direction: column;
  align-items: start;
  color: #F6F5F5;
}


.newsletter-form>div {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
}

.newsletter-form input {
  padding: 0.75rem 3.5rem 0.75rem 1rem;
  border: 1px solid #ddd;
  border-radius: 2em;
  font-size: 1rem;
  flex: 1;
}

.newsletter-form button {
  position: absolute;
  right: 0.5rem;
  width: 2.5rem;
  height: 2.5rem;
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
  border-radius: 50%;
  overflow: hidden;
}

.newsletter-form button img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

.footer-logo-wrapper {
  display: none;

@media (min-width: 1000px) {
    display: block;
  }
}

footer ul {
  list-style: none;
  margin: 0;
  padding: 0;
}


footer a {
  color: black;
  text-decoration: none;
}

.footer-links {
  padding-left: 1em;
  display: grid;
  justify-content: space-evenly;
  grid-template-columns: 1fr 1fr;

  @media (min-width: 600px) {
    display: flex;
    flex-direction: row;

  }
}

.legal ul {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-bottom: 0%;

  @media (min-width: 600px) {
    flex-direction: row;
  }
}

.legal,
p {
  padding: .5rem;
}