body {
  margin: 0;
  background-color: var(--background-color-secondary);
  font-family: var(--font-family);

  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}

header {
  display: flex;
  justify-content: space-between;
}

.nav-icons {
  margin-top: 0.5rem;
}

.logo img {
  height: 4rem;
  margin-left: 1rem;
}

main {
  display: flex;
  flex-direction: column;
}

.back-button {
  margin: 1rem;
  gap: 0.5rem;
  align-self: flex-start;
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  color: var(--textcolor);
}

.account-form input,
button {
  font-family: var(--font-family);
}

.account-form input {
  width: 100%;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  padding-left: 0.75rem;
  margin-top: 5px;
  font-size: 1 rem;
  border: 1px solid #d1d5db;
  border-radius: 10px;
}

.form-section {
  flex: 1;
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  margin: 2rem;
  padding-top: 0;
  border-radius: 10px;

  @media(min-width: 800px) {
    width: 70vh;
    align-self: center;
    border-radius: 10px;
  }
}

.form-group {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
}

.form-section form {
  width: 100%;
}

.profile-pic-container {
  position: relative;
  width: 8rem;
  height: 8rem;
}

.profile-pic {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: block;
  background-color: var(--background-color);
}


.edit-icon {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 2.25rem;
  height: 2.25rem;
  border-radius: 50%;
  background-color: var(--background-color, #fff);
  display: flex;
  align-items: center;
  justify-content: center;
  border-style: none;
}

.edit-icon img {
  width: 2.25rem;
  height: 2.25rem;
}

.save-button {
  padding: 0.8rem 2rem;
  font-size: 1rem;
  color: #fff;
  background-color: #000;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  margin-top: 1rem;
}

.save-button:hover {
  background-color: #333;
}

.save-button:active {
  transform: scale(0.98);
}

.footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 1.5rem;
  margin: 0;
  background-color: var(--background-color);
  font-size: 0.875rem;
  color: var(--textcolor);
}

.footer-links {
  display: flex;
  gap: 1.5rem;
}

.footer-links a {
  color: var(--textcolor);
  text-decoration: none;
}

.footer-links a:hover {
  color: var(--textcolor);
}

/* ------------------detail-pagina-------------- */


.title {
  line-height: 26px;
}
.product-info {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.product-info>* {
  margin: 0;
}

.product-gallery {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
}


.gallery-main {
  position: relative;
  aspect-ratio: 1 / 1;
  overflow: hidden;
  padding: 0 1rem;
}

.main-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.gallery-main .nav {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  background: transparent;
  color: var(--background-color);
  border-radius: 50%;
  font-size: var(--h1-size);
  cursor: pointer;
}

.gallery-main .prev {
  left: 20px;
}

.gallery-main .next {
  right: 20px;
}


.gallery-thumbs {
  display: flex;
  gap: 10px;
  padding-left: 1rem;
}

.gallery-thumbs .thumb {
  width: 70px;
  height: 70px;
  border-radius: 8px;
  object-fit: cover;
  cursor: pointer;
  border: 2px solid transparent;
}

.gallery-thumbs .thumb:hover {
  border-color: var(--accentcolor);
}

.shop-online {
  background: var(--background-color-secondary);
  padding: 1.5rem;
  border-radius: 1rem;
  max-width: 22rem;
  font-family: var(--font-family);
}

.shop-header {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  padding: 1rem;
  background: white;
  border-radius: 0.8rem;
  margin-bottom: 1rem;
}

.shop-header h2 {
  margin: 0;
  font-size: 1.1rem;
  font-weight: 700;
}

.shop-header p {
  margin: 0;
  color: var(--secondary-text-color);
  font-size: 0.9rem;
}

.shop-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.shop-list li a {
  display: grid;
  grid-template-columns: 1fr auto auto;
  align-items: center;
  background: var(--background-color);
  padding: 1rem;
  border-radius: 0.8rem;
  text-decoration: none;
  color: var(--secondary-text--color);
  font-weight: 600;
  border: 1px solid #eee;
}

.shop-list li a:hover {
  background: #f2f2f2;
}


.shop-external {
  opacity: 0.6;
  font-size: 1rem;
}
